In [2]:
print ('Hello')
input ()

Hello
Hello

'Hello'

Basics of Data Types

In [6]:
type(5)

int

In [7]:
type(5.00)

float

In [9]:
2+3

5

In [10]:
2-3

-1

In [11]:
2*3

6

In [12]:
3/2

1.5

In [15]:
5//2 #quotient

2

In [17]:
5%2 #remainder

1

In [18]:
2**3

8

In [22]:
a = 6
b = 3
c = 5

In [23]:
d = a*(b+c)

In [24]:
d

48

In [35]:
income = 500
expend = 309
saving = income-expend

In [36]:
saving

191

In [38]:
x = saving

In [39]:
x

191

In [40]:
saving

191

In [41]:
x

191

In [42]:
x == saving

True

In [43]:
b == saving

False

In [44]:
type(5)

int

In [45]:
type(saving)

int

In [47]:
a = "ag"

In [48]:
type(a)

str

In [49]:
a = 4

In [50]:
a = a+1

In [51]:
a

5

In [58]:
i = 2

In [59]:
a = a+i

In [60]:
a

8

In [68]:
i = 10
a = a+i
a

42

In [69]:
i = 10
a += i
a

52

In [70]:
a

52

In [73]:
a += 1

In [74]:
a

54

In [76]:
a = a+1

In [77]:
a

55

In [78]:
a *= 3

In [79]:
a

165

In [80]:
s = 'My name is Aaradhya'

In [81]:
type(s)

str

In [82]:
s = s.upper()

In [83]:
s

'MY NAME IS AARADHYA'

In [84]:
s = '123'

In [85]:
type(s)

str

In [86]:
a = 123

In [87]:
type(a)

int

In [88]:
a+4

127

In [89]:
s+4

TypeError: can only concatenate str (not "int") to str

In [90]:
s+s

'123123'

In [91]:
s = s+s

In [92]:
s

'123123'

In [93]:
s

'123123'

In [100]:
b = 'I am good'

In [101]:
b = b+' boy'

In [102]:
b

'I am good boy'

In [106]:
c = '.'

In [107]:
b = b+c

In [108]:
b

'I am good boy356.'

In [111]:
print('\n')
print('good')

good

In [112]:
s = 'my name is mayur'

In [113]:
s = 'mayur'

In [116]:
s[0]

'm'

In [118]:
s

'mayur'

In [117]:
s[2]

'y'

In [119]:
s[4]

'r'

In [120]:
s[8]

IndexError: string index out of range

In [127]:
s[0:1] #slicing

'm'

In [126]:
# str[start:end:jump]

In [129]:
s[0:2]

'ma'

In [130]:
s[1:3]

'ay'

In [131]:
s

'mayur'

In [134]:
s[0:5:2]

'myr'

In [135]:
s = 'my name is mayur'

In [139]:
s[3:14:3]

'nesa'

In [137]:
s[2]

' '

In [140]:
s[::]

'my name is mayur'

In [141]:
s[-1]

'r'

In [142]:
s[0]

'm'

In [143]:
s = 'mayur'

In [144]:
s[4]

'r'

In [145]:
s[-1]

'r'

In [146]:
s[-2]

'u'

In [148]:
s[2:]

'yur'

In [149]:
s[:2]

'ma'

In [150]:
s[::2]

'myr'

In [155]:
s[::-1]

'ruyam'

In [156]:
s

'mayur'

In [157]:
s + ' aaru'

'mayur aaru'

In [158]:
s

'mayur'

In [159]:
s = s + ' aaru'

In [160]:
s

'mayur aaru'

In [164]:
s.capitalize()

'Mayur aaru'

In [165]:
s

'mayur aaru'

In [168]:
s = s.capitalize()

In [169]:
s

'Mayur aaru'

In [171]:
print("income {}".format(5))

income 5

In [178]:
result = 540

In [174]:
print("income 54")

income 54

In [179]:
print("income {}".format(result))

income 540

In [180]:
print("value of 1 element is 20")

value of 1 element is 20

In [181]:
print("value of 2 element is 40")

value of 2 element is 40

In [182]:
a = 1
value = 20

In [183]:
print("value of {} element is {}".format(a,value))

value of 1 element is 20

In [184]:
print("value of {} element is {}".format(value,a))

value of 20 element is 1

In [185]:
print("value of {r} element is {c}".format(c=value,r=a))

value of 1 element is 20

In [186]:
a = ['1','2']

In [193]:
print('There is {} apple'.format(a[1]))

There is 2 apple

In [188]:
type(a)

list

In [189]:
a = '12'

In [192]:
a[1]

'2'

In [194]:
str = 'mayur'

In [195]:
str

'mayur'

In [205]:
s = 'mayur'

In [206]:
s[0]

'm'

In [197]:
lst = [1,2,34,5,632,1]

In [198]:
lst

[1, 2, 34, 5, 632, 1]

In [201]:
s = '1'

In [202]:
s + 2

TypeError: can only concatenate str (not "int") to str

In [203]:
lst = [1,'mayur',1.45]

In [207]:
lst[0]

1

In [208]:
lst[1]

'mayur'

In [209]:
lst[2]

1.45

In [210]:
s

'mayur'

In [215]:
s[0]

'm'

In [212]:
s[2]

'y'

In [217]:
type(s[2:4])

str

In [218]:
type(lst[0])

int

In [220]:
type(lst[1])

str

In [221]:
lst[1]

'mayur'

In [223]:
lst[0:2]

[1, 'mayur']

In [224]:
a = lst[0]

In [225]:
a

1

In [226]:
b = lst[1]

In [227]:
b

'mayur'

In [228]:
b[0:3]

'may'

In [231]:
lst[1][0:3]

'may'

In [232]:
lst = [1,'mayur',[2,'aaru']]

In [233]:
lst

[1, 'mayur', [2, 'aaru']]

In [234]:
lst[1]

'mayur'

In [235]:
lst[2]

[2, 'aaru']

In [236]:
lst[2][1]

'aaru'

In [237]:
lst = [1,'mayur',[2,'aaru',[3,'surya',[4,1.45]]]]

In [238]:
lst[3]

IndexError: list index out of range

In [239]:
lst[2]

[2, 'aaru', [3, 'surya', [4, 1.45]]]

In [240]:
lst[2][2]

[3, 'surya', [4, 1.45]]

In [241]:
lst[2][2][2]

[4, 1.45]

In [243]:
lst[2][2][2][1]

1.45

In [244]:
lst = [1,2,3,12,31,3123,12]

In [245]:
s

'mayur'

In [246]:
len(s)

5

In [248]:
len(lst)

7

In [250]:
lst.append(3)

In [251]:
lst

[1, 2, 3, 12, 31, 3123, 12, 3]

In [253]:
lst_1 = lst.copy()

In [254]:
lst_1

[1, 2, 3, 12, 31, 3123, 12, 3]

In [255]:
lst_2 = lst

In [256]:
lst_2

[1, 2, 3, 12, 31, 3123, 12, 3]

In [257]:
lst.count(12)

2

In [258]:
lst.insert(2,5)

In [259]:
lst

[1, 2, 5, 3, 12, 31, 3123, 12, 3]

In [260]:
lst.index(5)

2

In [261]:
lst.index(12)

4

In [262]:
lst.pop()

3

In [263]:
lst

[1, 2, 5, 3, 12, 31, 3123, 12]

In [269]:
lst.pop(5)

12

In [270]:
lst

[1, 2, 5, 3, 3123]

In [266]:
lst.remove(12)

In [271]:
lst

[1, 2, 5, 3, 3123]

In [273]:
lst[1:4]

[2, 5, 3]

In [274]:
lst.reverse()

In [275]:
lst

[3123, 3, 5, 2, 1]

In [276]:
lst.sort()

In [277]:
lst

[1, 2, 3, 5, 3123]

In [ ]:
a = 4
b = 2

while a <= 2**10 :
    print(a)
    
    
    print('loop')

Prime Number Program

In [13]:
num1 = int(input())
k = 2
if num1 == 1 :
    print('1 is not prime')
else:    
    for a in range(2,num1):
        if num1 % a == 0:
            print('num is not prime')
            k = k+1
            break
    if (k == num1 - 1 or k == 2):
        print('num is prime')

1
1 is not prime

Factors of a number

In [30]:
factors = [1]

num = int(input())

for a in range(2,num+1):
    if num % a == 0:
        factors.append(a)
    else:
        continue

12

In [31]:
factors

[1, 2, 3, 4, 6, 12]

In [32]:
def check_prime(num):
    k = 2
    for a in range(2,num):
        if num % a == 0:
            k+=1
            return -1 #not prime
    if k == num-1 or k == 2:
        return 0 #prime

In [34]:
check_prime(4)

-1

In [43]:
prime_factors = []

num = int(input())

for a in range(2,num+1):
    if num % a == 0 and check_prime(a) == 0:
        prime_factors.append(a)
    else:
        continue

100

In [44]:
prime_factors

[2, 5]

In [46]:
k = 1 #number of prime factors 
for x in range(2,int(input())+1):
    prime_factors = []

    #num = int(input())
    num = x
    for a in range(2,num+1):
        if num % a == 0 and check_prime(a) == 0:
            prime_factors.append(a)
        else:
            continue
    
    l = len(prime_factors)
    if k < l:
        k = l

100

In [47]:
k

3

In [53]:
import time

In [60]:
q = int(input()) #number of queries

t1 = time.time()

for t in range(q):
    k = 1 #number of prime factors 
    for x in range(2,int(input())+1):
        prime_factors = []

        #num = int(input())
        num = x
        for a in range(2,num+1):
            if num % a == 0 and check_prime(a) == 0:
                prime_factors.append(a)
            else:
                continue

        l = len(prime_factors)
        if k < l:
            k = l
    print(k)            

t2 = time.time()

print(t2-t1)

1
10000
5
9.97499704360962